/*
    Include font
*/

@font-face {
    font-family: 'Cera';
    src: url('../fonts/CeraPro-Bold.eot');
    src: url('../fonts/CeraPro-Bold.woff2') format('woff2'), url('../fonts/CeraPro-Bold.woff') format('woff'), url('../fonts/CeraPro-Bold.ttf') format('truetype'), url('../fonts/CeraPro-Bold.svg#CeraPro-Bold') format('svg'), url('../fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Ceraa';
    src: url('../fonts/CeraPro-Black.eot');
    src: url('../fonts/CeraPro-Black.woff2') format('woff2'), url('../fonts/CeraPro-Black.woff') format('woff'), url('../fonts/CeraPro-Black.ttf') format('truetype'), url('../fonts/CeraPro-Black.svg#CeraPro-Black') format('svg'), url('../fonts/CeraPro-Black.eot?#iefix') format('embedded-opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Cera-Regular';
    src: url('../fonts/CeraPro-Regular.eot');
    src: url('../fonts/CeraPro-Regular.woff') format('woff'), url('../fonts/CeraPro-Regular.ttf') format('truetype'), url('../fonts/CeraPro-Regular.svg#CeraPro-Regular') format('svg'), url('../fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: 300;
    font-style: normal;
}

