/*
    General styles
*/

* {
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

::-webkit-input-placeholder {
    text-transform: uppercase;
    color: $grey;
}

::-moz-placeholder {
    text-transform: uppercase;
    color: $grey;
}

:-ms-input-placeholder {
    text-transform: uppercase;
    color: $grey;
}

:-moz-placeholder {
    text-transform: uppercase;
    color: $grey;
}

input {
    width: 100%;
    margin: 20px 0;
    padding: 20px;
    text-align: center;
    border: none;
    border-bottom: 3px solid $grey;
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: $text;
}

html,
body {
    font-family: 'Cera', sans-serif;
    position: relative;
    overflow: hidden;
    height: 100%;
    letter-spacing: .3em;
    text-transform: uppercase;
    background: $white;
}

body.collection-body {
    .container {
        width: calc(100% + 20px) !important;
        margin-right: -20px;
    }
}

#white {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    background: $cart;
    &.white {
        background: $white;
        &.fadeOut {
            animation-duration: 1.3s;
        }
    }
    &.fadeIn, &.fadeOut {
        animation-duration: .5s;
    }
}

.modal-blur {
    transition: all .08s linear;
}

.close {
    position: relative;
    display: inline-block;
    width: 33px;
    height: 29px;
    cursor: pointer;
    transition: .5s ease-in-out;
    transform: rotate(0deg);
    vertical-align: middle;
    span {
        position: absolute;
        left: 0;
        display: block;
        width: 100%;
        height: 3px;
        transition: .25s ease-in-out;
        transform: rotate(0deg);
        opacity: 1;
        background: $black;
        &:nth-child(1) {
            top: 0;
        }
        &:nth-child(2),
        &:nth-child(3) {
            top: 13px;
        }
        &:nth-child(4) {
            top: 26px;
        }
    }
    &.open {
        span {
            &:nth-child(1),
            &:nth-child(4) {
                top: 18px;
                left: 50%;
                width: 0;
            }
            &:nth-child(2) {
                transform: rotate(45deg);
            }
            &:nth-child(3) {
                transform: rotate(-45deg);
            }
        }
    }
}

.gallery-tab {
    position: relative;
    margin-top: 30px;
    &:before,
    &:after {
        display: inline-block;
        width: 15px;
        height: 40px;
        margin-bottom: 15px;
        content: '';
        transform: rotate(45deg);
        border-radius: 4px;
        background: $red;
        display: none;
    }
    &:after {
        margin-top: 15px;
        background: $blue;
    }
    li {
        font-size: 1.4em;
        padding: 15px 0;
        cursor: pointer;
        transition: all .2s linear;
        opacity: .2;
        &.active {
            opacity: 1;
        }
    }
}

.contact-tab {
    margin: 0 0 60px;
    li {
        font-size: 1.5em;
        letter-spacing: .18em;
        display: inline-block;
        cursor: pointer;
        transition: all .1s linear;
        opacity: .2;
        color: $black;
        &.active {
            opacity: 1;
        }
    }
    span {
        font-size: 1.4em;
        opacity: .2;
    }
}

.collection-tab {
    > * {
        width: calc(100% / 3);
    }
    li {
        font-size: 1.4em;
        line-height: normal;
        display: inline-block;
        cursor: pointer;
        transition: all .2s linear;
        opacity: .2;
        position: relative;
        top: 3px;
        span {
            padding: 0 0 0 5px;
            display: inline-block;
        }
        &.active {
            opacity: 1;
            span {
                background: $blue;
                color: $white;
            }
            &.wom {
                span {
                    background: $red;
                }
            }
        }
        &:first-child {
            text-align: left;
        }
        &:last-child {
            text-align: right;
        }
    }
}

.gallery-element {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    display: none;
    &.e-1 {
        top: 60%;
        left: 0;
        width: 130px;
        height: 6px;
        background: $blue;
    }
    &.e-2 {
        top: 0;
        right: 20%;
        width: 6px;
        height: 110px;
        background: $red;
    }
    &.e-3 {
        right: -100px;
        bottom: 30%;
        width: 200px;
        height: 200px;
        border: 6px solid $blue;
        border-radius: 50%;
    }
    &.e-4 {
        top: 10%;
        left: 30%;
        width: 182px;
        height: 182px;
        border: 6px solid $red;
        border-radius: 50%;
    }
}

.hidden {
    display: none;
}

.owl-thumbs {
    position: absolute;
    margin-left: -65px;
    top: 0;
    img {
        width: 60px;
        display: block;
        margin-bottom: 5px;
        cursor: pointer;
    }
}

.visible-xs {
    display: none;
}
.column {
    float: left;
    width: calc(100% / 3);
}
