/*
    Style for responsive design
*/

@media all and (min-width: 1921px) {
    html,
    body {
        font-size: 1.2em;
    }
}

@media all and (max-width: 1919px) {}

@media all and (max-width: 1366px) {
    .logotype-fixed {
        .logo-icon {
            margin-top: 30px;
        }
        .logo-text {
            top: calc(50% - 60px / 2);
            left: calc(50% - 320px / 2);
            width: 320px;
            height: 60px;
        }
        .code {
            bottom: 51px;
        }
    }
    .menu {
        padding: 150px 0 0;
        .head {
            line-height: 150px;
            height: 150px;
        }
        .body {
            padding: 0 60px;
            .copyright {
                margin-top: 20px;
            }
        }
        .social-links {
            line-height: 150px;
            height: 150px;
        }
    }
    #header,
    #footer {
        line-height: 150px;
        height: 150px;
        .logo-icon {
            margin-top: 0;
        }
    }
    #main {
        &.contact-main {
            height: calc(100% - 300px);
        }
        &.cart-main {
            a.back {
                left: 60px;
            }
            .container {
                overflow: hidden;
                padding: 0;
            }
            .cart-form {
                .head {
                    &:after {
                        margin-top: 20px;
                    }
                }
                .body {
                    margin-top: 10px;
                    p {
                        margin-bottom: 10px;
                    }
                }
                .btn {
                    margin: 20px 0 0;
                }
            }
            .col {
                &.col-center {
                    + .col {
                        font-size: .9em;
                        overflow: auto;
                        height: 100%;
                        margin-right: -20px;
                        padding: 0 80px 0 0;
                        letter-spacing: .2em;
                    }
                }
            }
        }
        .container {
            height: calc(100% - 300px);
            padding: 0 60px;
        }
        .slider {
            max-height: calc(100% - 300px);
        }
        .col {
            padding: 0 60px;
            &:last-child {
                padding: 0 80px 0 60px;
            }
            &.big-static {
                height: calc(100% - 300px);
                + .col {
                    width: calc(50% - 339px / 2 + 20px);
                    height: calc(100% - 300px);
                }
            }
            &.col-with-center {
                height: calc(100% - 300px);
            }
            &.col-center {
                + .col {
                    height: calc(100% - 300px);
                }
            }
        }
        p {
            &.margin {
                margin-top: 20px;
            }
        }
        .cart-gallery {
            position: relative;
            right: -150px;
            .owl-dots {
                margin-top: -50px;
            }
        }
        .gallery-block {
            padding-top: calc(100% / 3 - 50px / 3 * 2);
        }
        .collection-nav {
            > div {
                height: calc(100% - 300px);
            }
        }
    }
    .gallery-tab {
        margin-top: 30px;
        &:before,
        &:after {
            display: none;
        }
        li {
            padding: 10px 0;
        }
    }
    .contact-tab {
        margin-bottom: 30px;
        li {
            letter-spacing: .3em;
        }
    }
    #basket {
        height: calc(100% - 300px);
        .container {
            width: 1200px;
        }
    }
    #terms {
        height: calc(100% - 300px);
        .container {
            width: 768px;
        }
        .anchors {
            top: 220px;
            left: calc(50% - 600px);
        }
    }
}

@media (min-width: 1280px) and (max-width: 1366px) {
    #main {
        .container {
            height: calc(100% - 300px);
            padding: 0 120px;
        }
        .col {
            padding: 0 60px;
            &:last-child {
                padding: 0 80px 0 60px;
            }
            &.big-static {
                height: calc(100% - 300px);
                + .col {
                    width: calc(50% - 339px / 2 + 20px);
                    height: calc(100% - 300px);
                }
            }
            &.col-with-center {
                height: calc(100% - 300px);
            }
            &.col-center {
                + .col {
                    height: calc(100% - 300px);
                }
            }
        }
    }
}

@media all and (max-width: 1279px) {
    body {
        overflow: auto;
        &.collection-body {
            .container {
                width: 100% !important;
                margin-right: 0 !important;
            }
        }
    }
    .hidden {
        display: block;
    }
    .content:after,
    .logotype-fixed,
    .gallery-element,
    .gallery-main-block {
        display: none;
    }
    #header {
        margin-bottom: 10px;
        .col {
            &:nth-child(2) {
                display: none;
            }
        }
        &.col-center-big {
            .col.col-left {
                width: 50%;
            }
        }
        .back-link {
            display: block;
            + a {
                display: none;
            }
        }
    }
    .menu {
        z-index: 2;
        width: 100%;
        .social-links {
            position: relative;
            padding: 0 60px;
            text-align: left;
        }
    }
    .content {
        margin-bottom: 0;
        &:after {
            height: 50px;
        }
        &.main {
            margin-bottom: -200px;
            #header {
                margin-bottom: 0;
            }
        }
        &.border,
        &.collection,
        &.cart-main,
        &.gallery {
            #header:after {
                position: absolute;
                z-index: 2;
                top: 150px;
                left: 0;
                display: block;
                width: 100%;
                height: 10px;
                content: '';
                background: $red;
            }
        }
        &.about {
            .big-static {
                overflow: auto;
                margin-right: 0;
                margin-bottom: 30px;
                position: inherit !important;
                height: 100% !important;
                iframe {
                    height: 400px !important;
                }
            }
            .scroll-bar {
                display: none;
            }
        }
        &.cart-main {
            #header {
                &:after {
                    background: $blue;
                }
            }
        }
        &.gallery {
            #header {
                &:after {
                    background: $blue;
                }
            }
            .col-with-center {
                display: none;
            }
            .col-center {
                position: relative;
                margin-top: 20px;
                &:before {
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    width: 100px;
                    height: 100%;
                    content: '';
                    background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%);
                    background: -webkit-gradient(linear, left top, right top, color-stop(80%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
                    background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%);
                    background: -o-linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%);
                    background: -ms-linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%);
                    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%);
                }
                &:after {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 100px;
                    height: 100%;
                    content: '';
                    background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%);
                    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 1)));
                    background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%);
                    background: -o-linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%);
                    background: -ms-linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%);
                    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%);
                }
                + .col {
                    overflow: auto;
                }
            }
        }
    }
    #main {
        &.contact-main {
            position: relative;
            display: block;
            height: 100%;
        }
        &.cart-main {
            .cart-nav {
                display: none;
            }
            .back {
                display: none;
            }
            .container {
                position: initial;
                overflow: hidden;
            }
            .cart-form {
                margin-bottom: 50px;
                text-align: center;
                .head {
                    &:after {
                        margin: 20px auto;
                    }
                }
                .body {
                    position: fixed;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    background: $white;
                    padding: 15px;
                    &.after {
                        &:after {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: $white;
                        }
                    }
                    .price {
                        float: left;
                        .sale {
                            display: block;
                            margin: 10px 0 0;
                        }
                        &.hidden {
                            display: none;
                        }
                    }
                    .size {
                        visibility: hidden;
                        animation-duration: .3s;
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        left: 0;
                        background: rgba($white, .95);
                        z-index: 1;
                        padding: 30px 0 45px;
                        .select {
                            border: none;
                            width: 100%;
                        }
                        .close-size {
                            right: 30px;
                            top: 15px;
                            img {
                                width: 14px;
                            }
                        }
                        span {
                            display: none;
                        }
                        input {
                            + label {
                                padding: 10px 30px;
                                text-align: left;
                                font-size: 1.2em;
                            }
                            &:checked {
                                + label {
                                    background: none;
                                    color: $blue;
                                }
                            }
                        }
                    }
                    .add-basket {
                        margin: 0;
                        padding: 0 30px;
                        height: 40px;
                        line-height: 40px;
                        float: right;
                        display: none;
                        color: $white;
                        background: $blue;
                        box-shadow: none;
                        box-shadow: 0px 0px 18px 2px rgba(60, 184, 233, .2);
                        &.visible {
                            display: inline-block;
                            + .btn {
                                float: left;
                            }
                        }
                    }
                    .size-open {
                        display: block;
                        float: right;
                        margin: 0;
                        padding: 0 40px;
                        height: 40px;
                        line-height: 40px;
                    }
                    .close-size {
                        display: block;
                    }
                }
                .cart-item-nav {
                    display: inline-block;
                    margin: 30px 0 0;
                    position: relative;
                    a {
                        padding: 5px 15px;
                    }
                }
            }
            .col-center {
                + .col {
                    position: initial;
                    justify-content: center;
                }
            }
        }
        .cart-gallery {
            right: 0;
            .owl-dots {
                margin: 30px 0;
            }
        }
        .hidden-logo {
            display: block;
        }
        .col {
            float: none !important;
            width: 100% !important;
            margin-right: 0 !important;
            margin-left: 0 !important;
        }
        .slider {
            overflow: auto;
            .owl-item {
                border-top: 20px solid $red;
                border-bottom: 20px solid $blue;
                div > div {
                    position: relative;
                    overflow: hidden;
                    width: 100%;
                    // height: calc(50vh - 190px);
                    &:first-child {
                        margin-bottom: 30px;
                    }
                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 100%;
                        max-width: 100%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
        .gallery-block {
            &.active {
                transform: none;
            }
        }
        .collection-nav {
            border-bottom: 10px solid $blue;
            > div {
                position: relative;
                width: 100%;
                // height: calc(50vh - 100px);
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    #footer {
        display: none;
        &.main {
            display: block;
        }
        .col {
            display: none;
            &.pagination {
                display: block;
                float: none;
                width: 100%;
                text-align: center;
            }
        }
        .social-links {
            display: none;
        }
    }
    .gallery-tab {
        overflow-x: auto;
        margin-top: 10px;
        margin-bottom: 15px;
        padding: 20px 60px;
        white-space: nowrap;
        li {
            display: inline-block;
            margin-right: 20px;
            font-size: 1.1em;
            &:last-child {
                margin: 0;
            }
        }
    }
    .owl-thumbs {
        position: inherit;
        margin-left: 0;
        text-align: center;
        margin-top: 15px;
        > div {
            display: inline-block;
        }
        img {
            width: 80px;
        }
    }
    #basket {
        position: relative;
        height: 100%;
        .container {
            width: 100%;
            padding: 0 60px 60px;
        }
    }
    #terms {
        position: relative;
        height: 100%;
        .container {
            width: 100%;
            padding: 0 30px 60px;
        }
        .anchors {
            position: inherit;
            margin: 30px 0 0;
            li {
                text-align: left;
                a {
                    display: block;
                    padding: 10px 0;
                    font-size: .9em;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    #main {
        &.cart-main {
            .col {
                padding: 0;
                &.col-center {
                    display: none;
                    + .col {
                        padding: 0 60px;
                    }
                }
            }
        }
    }
    .content {
        &.about {
            .big-static {
                width: 100% !important;
                padding: 0 60px !important;
            }
        }
        &.gallery {
            .col-center {
                width: 100% !important;
                margin-left: 0 !important;
                + .col {
                    height: 100% !important;
                    padding: 0 60px !important;
                }
            }
        }
    }
    #basket {
        &.final {
            padding-top: 60px;
        }
        .shopping-list {
            li {
                > div {
                    margin-left: 15px;
                }
                .name {
                    width: 30%;
                }
                .size {
                    width: 70px;
                }
                .count {
                    width: 80px;
                    padding: 0 0 0 15px;
                }
            }
        }
    }
}

@media all and (max-width: 1024px) {
    #header,
    #footer {
        line-height: 100px;
        height: 100px;
    }
    .content {
        &.border,
        &.collection,
        &.cart-main,
        &.gallery {
            #header:after {
                top: 100px;
            }
        }
    }
    #main {
        .slider {
            max-height: calc(100% - 200px);
            .owl-item {
                div > div {
                    // height: calc(50vh - 135px);
                    &:first-child {
                        margin-bottom: 20px;
                    }
                    img {
                        top: 20%;
                        transform: translate(-50%, -20%);
                    }
                }
            }
        }
        .collection-nav {
            > div {
                // height: calc(50vh - 75px);
            }
        }
    }
}

@media all and (min-width: 768px) {
    .tabcontent[data-columns]::before {
        content: '3 .column.size-1of3';
    }
}

@media all and (max-width: 767px) {
    .column {
        width: calc(50% - 3px);
        &:first-child {
            margin-right: 6px;
        }
    }
    body,
    html {
        letter-spacing: .3em;
    }
    body {
        &.collection-body {
            #main {
                .container {
                    padding: 0;
                }
                .hidden-logo {
                    display: none;
                }
            }
        }
    }
    #header,
    #footer {
        line-height: 65px;
        height: 65px;
        padding: 0 25px;
    }
    #header {
        .col {
            img.logotype {
                width: 110px;
            }
        }
    }
    .close {
        width: 24px;
        height: 20px;
        span {
            height: 2px;
            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(2),
            &:nth-child(3) {
                top: 9px;
            }
            &:nth-child(4) {
                top: 18px;
            }
        }
    }
    .menu {
        padding-top: 65px;
        .head {
            line-height: 65px;
            height: 65px;
            padding: 0 30px;
            .logotype img {
                width: 110px;
            }
        }
        .body {
            padding: 30px;
            h2 {
                font-size: 1.2em;
                margin: 0 0 30px;
                &:after {
                    height: 4px;
                    margin-top: 15px;
                }
            }
            p {
                font-size: .8em;
            }
            .btn {
                margin-top: 20px;
            }
            ul {
                li {
                    a {
                        font-size: 1.5em;
                    }
                }
            }
            .copyright {
                font-size: .7em;
            }
        }
        .social-links {
            line-height: normal;
            margin-top: 50px;
            letter-spacing: .1em;
            padding: 0 30px;
            a {
                margin-left: 5px;
            }
        }
    }
    .btn {
        font-size: .8em;
        line-height: 45px;
        height: 45px;
    }
    .content {
        &.border,
        &.collection,
        &.cart-main,
        &.gallery {
            #header:after {
                top: 65px;
            }
            .col-center {
                margin-top: 0;
                padding: 0 25px !important;
                &:before,
                &:after {
                    width: 50px;
                }
                + .col {
                    height: 100% !important;
                    padding: 0 !important;
                }
            }
        }
        &.about {
            overflow: hidden;
            #main {
                overflow: auto;
                height: calc(100% - 70px);
                position: absolute;
                width: 100%;
                top: 65px;
            }
            .big-static {
                overflow: inherit;
                height: auto !important;
                padding: 0 25px !important;
                iframe {
                    max-height: 250px;
                }
            }
            .scroll-bar {
                display: none;
            }
        }
    }
    #main {
        &.cart-main {
            .col {
                padding: 0;
                &.col-center {
                    display: none;
                    + .col {
                        padding: 0 25px !important;
                    }
                }
            }
            .owl-item {
                padding: 0 30px;
            }
            .owl-thumbs {
                text-align: left;
                img {
                    width: auto;
                    height: 160px;
                }
            }
            .cart-form {
                .head {
                    font-size: .7em;
                    h1 {
                        font-size: 1.7em;
                    }
                }
            }
        }
        &.contact-main {
            .col {
                padding: 0 25px;
            }
            h2 {
                font-size: 1.1em;
            }
            p {
                &.margin {
                    margin-top: 30px;
                    span {
                        margin-bottom: 5px;
                    }
                    a {
                        font-weight: 900;
                        font-size: .78em;
                    }
                }
            }
        }
        h2 {
            &.line {
                font-size: 1.5em;
                margin: 20px 0;
                &:after {
                    height: 4px;
                    margin-top: 15px;
                }
            }
        }
        p {
            font-size: .8em;
        }
        .hidden-logo {
            padding: 25px 25px;
            img {
                width: 65px;
            }
            .collection-tab {
                li {
                    height: 35px;
                }
            }
        }
        .container {
            height: 100%;
            padding: 0 30px;
        }
        .collection-tab {
            position: relative;
            > a {
                display: none;
            }
            li {
                height: auto !important;
                margin: 0 !important;
            }
        }
        .collection-nav {
            > div {
                font-size: .7em;
                // height: calc(50vh - 52.5px);
                &.collection-man {
                    margin-bottom: 20px;
                }
            }
        }
        .slider {
            max-height: calc(100% - 65px);
            .owl-item {
                border-width: 10px;
                div > div {
                    // height: calc(50vh - 90px);
                    &:first-child {
                        margin-bottom: 20px;
                    }
                    img {
                        top: 20%;
                        transform: translate(-50%, -20%);
                    }
                }
            }
        }
        .gallery-block {
            width: 100%;
            margin-bottom: 25px;
            padding-top: 100%;
        }
        .coll-item {
            padding: 0 0 25px;
            .title {
                font-size: 12px;
                word-wrap: break-word;
                min-height: 60px;
            }
        }
    }
    .gallery-tab {
        margin: 0;
        padding: 0 25px;
        li {
            font-size: .75em;
            padding: 20px 0;
        }
    }
    .contact-tab {
        font-size: .52em;
    }
    .collection-tab {
        li {
            font-size: 1.2em;
        }
    }
    .tabcontent[data-columns]::before {
        content: '1 .column.size-1of1';
    }
    .owl-thumbs {
        overflow-x: scroll;
        white-space: nowrap;
    }
    .hidden-xs {
        display: none;
    }
    .visible-xs {
        display: block;
    }
    .basket-body {
        #header {
            .col {
                width: inherit;
            }
            .visible-xs {
                font-size: .8em;
            }
        }
    }
    #basket {
        padding-bottom: 60px;
        &.final {
            font-size: .85em;
            .btn {
                font-size: 1em;
            }
        }
        .title {
            margin: 30px 0 25px;
            font-size: .85em;
            .hidden {
                display: none;
            }
            .visible {
                display: block;
            }
            span {
                margin-left: 6px;
            }
        }
        .container {
            padding: 0 25px;
        }
        .shopping-list {
            border-top: none;
            border-bottom: 1px solid #b8b8b8;
            padding: 0 0 15px;
            li {
                padding: 15px 0 15px 75px;
                overflow: hidden;
                position: relative;
                border-bottom: none;
                font-size: .85em;
                &:after {
                    content: '';
                    width: 100%;
                    height: 1px;
                    background: rgba($black, .2);
                    display: block;
                    margin: 30px 0 0;
                }
                &:last-child {
                    &:after {
                        display: none;
                    }
                }
                .image-block {
                    width: 60px;
                    height: 60px;
                    position: absolute;
                    left: 0;
                }
                > div {
                    vertical-align: top;
                    margin-left: 0;
                    padding: 4px 0 4px 15px;
                }
                .name {
                    width: calc(100% - 30px);
                }
                .size {
                    width: 50%;
                }
                .count {
                    display: none;
                }
                .price {
                    padding: 2px 0;
                    border: none;
                    float: right;
                }
                .delete {
                    top: 15px;
                    img {
                        width: 12px;
                        height: 12px;
                        opacity: 1;
                    }
                }
            }
        }
        .delivery {
            .input-group {
                padding: 15px 10px;
                font-size: .85em;
            }
            input,
            select {
                min-width: 100px;
                + img {
                    margin-left: 5px;
                }
                + span {
                    display: block;
                    margin: 10px 0 0;
                }
            }
            .price {
                font-size: .8em;
                padding: 15px 10px 0;
                span {
                    display: block;
                    margin: 10px 0 0;
                }
            }
        }
        .payments-list {
            display: none;
        }
        .promo {
            text-align: center;
            div {
                &.left {
                    padding-bottom: 15px;
                    margin-bottom: 15px;
                    width: 100%;
                    text-align: center;
                    border-bottom: 1px solid #b8b8b8;
                }
            }
        }
        .result {
            background: #f3f3f3;
            margin: 30px 0;
            padding: 15px;
            font-size: .7em;
            text-align: left;
            div {
                padding-right: 30%;
                position: relative;
                span {
                    position: absolute;
                    right: 0;
                    width: 30%;
                    top: 5px;
                    text-align: right;
                }
            }
        }
        .btn-group {
            text-align: center;
            .btn {
                &.back {
                    display: none;
                }
                &.next {
                    float: none;
                }
            }
        }
    }
}

@media screen and (min-width: 1px) and (max-width: 767px) {
    #man[data-columns]::before, #woman[data-columns]::before {
        content: '2';
    }
}

@media screen and (min-width: 768px) and (max-width: 9999px) {
    #man[data-columns]::before, #woman[data-columns]::before {
        content: '3';
    }
}
